.container-footer{
 

  @media screen and(min-width: 768px){
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
  @media screen and(max-width: 1199.98px) { 
    text-align: center;
    }
  }
    
  

  .section-footer {
    padding-top: 60px;
    padding-bottom: 60px;
  
  
    background-color: var(--dark-bgc);
  }