header{
    border-bottom: 1px solid var(--border-color);
   }
  
  .page-header .container{
    display: flex;
    align-items: center;
    @media screen and(min-width:1200px) {
      padding-top: 24px;
    padding-bottom: 25px;
    }
    
   
  }
  .page-header {
    @media screen and (max-width: 767px){
display: flex;
    }
    
  }

  
  
   .main-nav{
    display: flex;
    align-items: center;
  }
  
  