:root {
    --dark-bgc: #2f303a;
    --lighter-bgc: #f5f4fa;
    --lightest-bgc: #f5f5f5;
    --main-ctext: #212121;
    --additional-ctext: #757575;
    --footer-ctext: rgba(255, 255, 255, 0.6);
    --accent-color: #2196f3;
    --white: #ffffff;
    --black: #000000;
    --container-bg: #eeeeee;
    --border-color: #ECECEC;
    --icon-text: #AFB1B8;
    --icon-bcg: rgba(255, 255, 255, 0.1);
    --cubic: cubic-bezier(0.4, 0, 0.2, 1);
    --secondary-tx-clr: rgba(117, 117, 117, 1);
  
  }